# Requirements for MTL_QUANTIZATION

# Core
numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter

# PyTorch (uncomment or add specific version if required)
torch
torchvision

tqdm

# Optional (uncomment if you use TensorFlow notebooks)
# tensorflow
